<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.lizx.dao.PersonDao">
    <!--开启二级缓存第二步:配置二级缓存-->
    <cache
            eviction="FIFO"
            flushInterval="6000"
            size="512"
            readOnly="false"/>

    <insert id="insert" parameterType="person" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO person (name, age, phone, email, address)
        VALUES(#{name},#{age},#{phone},#{email},#{address})
    </insert>
    <select id="getById" resultType="person">
        select  * from (select * from person where id = #{id} limit 0,1) a
    </select>


    <select id="selectPersonByRowBounds" resultType="com.mybatis.lizx.model.Person">
        select * from person
    </select>



</mapper>

