<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.h2.dao.ZfbAppConfigMapper">
    
  <resultMap id="BaseResultMap" type="com.example.h2.bean.ZfbAppConfig" >
      <result column="zfb_app_config_id" property="appConfigId" />
      <result column="zfb_app_name" property="appName" />
      <result column="zfb_position_show" property="positionShow" />
      <result column="zfb_photo_show" property="photoShow" />
      <result column="zfb_app_id" property="appId" />
      <result column="zfb_app_key" property="appKey" />
      <result column="zfb_cs_user_id" property="csUserId" />
      <result column="zfb_cs_feed_id" property="csFeedId" />
      <result column="zfb_create_time" property="createTime" />
      <result column="zfb_upate_time" property="upateTime" />
      <result column="zfb_cs_employee_id" property="csEmployeeId" />
      <result column="zfb_cs_employee_name" property="csEmployeeName" />
  </resultMap>
  
	<sql id="zfbAppConfigColumns">
        zfb_app_config_id AS "appConfigId",
        zfb_app_name AS "appName",
        zfb_position_show AS "positionShow",
        zfb_photo_show AS "photoShow",
        zfb_app_id AS "appId",
        zfb_app_key AS "appKey",
        zfb_cs_user_id AS "csUserId",
        zfb_cs_feed_id AS "csFeedId",
        zfb_create_time AS "createTime",
        zfb_upate_time AS "upateTime",
        zfb_position_required as "positionRequired",
        zfb_photo_required as "photoRequired",
        zfb_cs_employee_id as "csEmployeeId",
        zfb_cs_employee_name as"csEmployeeName"

	</sql>

	<!-- 插入方法-->
    <insert id="insert" parameterType="com.example.h2.bean.ZfbAppConfig" useGeneratedKeys="true" keyProperty="appConfigId" >
        INSERT INTO zfb_app_config
            <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="appName!=null">
                zfb_app_name,
            </if>
            <if test="positionShow!=null">
                zfb_position_show,
            </if>
            <if test="photoShow!=null">
                zfb_photo_show,
            </if>
            <if test="appId!=null">
                zfb_app_id,
            </if>
            <if test="appKey!=null">
                zfb_app_key,
            </if>
            <if test="csUserId!=null">
                zfb_cs_user_id,
            </if>
            <if test="csFeedId!=null">
                zfb_cs_feed_id,
            </if>
            <if test="createTime!=null">
                zfb_create_time,
            </if>
            <if test="upateTime!=null">
                zfb_upate_time,
            </if>
            <if test="positionRequired!=null">
                zfb_position_required,
            </if>
            <if test="photoRequired!=null">
                zfb_photo_required,
            </if>
            <if test="csEmployeeId!=null">
                 zfb_cs_employee_id,
           </if>
           <if test="csEmployeeName!=null">
                zfb_cs_employee_name
           </if>
            </trim>
            <trim prefix="values(" suffix=")" suffixOverrides=",">

            <if test="appName!=null">
                #{appName},
            </if>
            <if test="positionShow!=null">
                #{positionShow},
            </if>
            <if test="photoShow!=null">
                #{photoShow},
            </if>
            <if test="appId!=null">
                #{appId},
            </if>
            <if test="appKey!=null">
                #{appKey},
            </if>
            <if test="csUserId!=null">
                #{csUserId},
            </if>
            <if test="csFeedId!=null">
                #{csFeedId},
            </if>
            <if test="createTime!=null">
                #{createTime},
            </if>
            <if test="upateTime!=null">
                #{upateTime},
            </if>
            <if test="positionRequired!=null">
                    #{positionRequired},
            </if>
            <if test="photoRequired!=null">
                    #{photoRequired},
            </if>
                <if test="csEmployeeId!=null">
                    #{csEmployeeId},
                </if>
                <if test="csEmployeeName!=null">
                    #{csEmployeeName}
                </if>
            </trim>
    </insert>




    <!--查询单个对象-->
    <select id="selectConfigByAppId" resultType="com.example.h2.bean.ZfbAppConfig">
        SELECT
        <include refid="zfbAppConfigColumns"/>
        FROM zfb_app_config
        <where>
            zfb_app_id = #{appId}

        </where>
    </select>


</mapper>