<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.arch.dao.UserDao">

    <select id="getUserById" resultType="com.zx.arch.entity.User">
        select * from  ac_user where id = #{id}
    </select>

    <insert id="insert" parameterType="com.zx.arch.entity.User">
        insert into ac_user (age,name) values (#{age},#{name})
    </insert>

</mapper>